global: 
  scrape_interval: 1m

scrape_configs: 
  - job_name: "prometheus" 
    scrape_interval: 1m 
    static_configs: 
    - targets: ["localhost:9090"]

  - job_name: "node" 
    static_configs: 
    - targets: ["node-exporter:9100"]

  - job_name: "cadvisor" 
    scrape_interval: 5s 
    static_configs: 
    - targets: ["10.1.149.19:8081"]  

  - job_name: "hvhost01" 
    scrape_interval: 5s 
    static_configs: 
    - targets: ["10.1.149.191:9182"]